*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables start =====================*/
:root{
  --white: #fff;
  --black: #000;
  --main: #ff6e68;
  --lightblack: #2c2c2c;
}
/* color variables end==========================*/

body{
  font-family: 'Open Sans', sans-serif;
}

/* global styles/ reuseable styles start ========*/
.container{
  /* width: 1300px; */
  width: 80%;
  margin: 0 auto;
}
/* global styles/ reuseable styles end========== */


/* nav component styles start ====================*/
.nav{
  height: 70px;
  width: 100%;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background: var(--white);
  margin-bottom: 70px;
  z-index: 1000;
}

.nav_container{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_left .logo{
  height: 60px;
  width: 100px;
  border: 2px solid grey;
  border-radius: 50%;
}

.basket{
  position: relative;
}

.basket span{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -10px;
  width: 25px;
  height: 25px;
  background: var(--lightblack);
  border-radius: 50%;
  color: var(--white);
  font-size: 12px;

  /* border: dashed 1px black; */
}

a .cart_icon{
  color: var(--main);
  font-size: 22px;
}
/* nav component styles end ==========*/

/* header component styles start=======*/
.header{
  background: url('./images/banner.jpg');
  width: 100%;
  height: 100vh;
  opacity: .7;
}

/* header component styles end======= */


/* home component styles start =======*/

  .row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .col_3{
    width: 25%;
  }

  .col_6{
    width: 50%;
  }

  .product{
    padding: 25px;
    width: 100%;
    overflow: hidden;
  }

  .product_img{
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

  .product_img img{
    width: 100%;
    height: 100%;
    transition: all .3s linear;
  }

  .product_img img:hover{
    transform: scale(1.2);
  }

  .product_name{
    margin: 10px 0;
    text-transform: capitalize;
    color: #707070;
  }

  .product_discount_price{
    float: right;
    font-size: 18px;
  }

  .actual_price{
    text-decoration: line-through;
    font-size: 18px;
  }

  .product_price .discount{
    color: silver;
    font-weight: 400;
    font-size: 13px;
    margin-left: 2px;
  }
/* home component styles end =============*/

/* details component styles start=========*/
.mt-100{
  margin-top: 100px;
}

.details_image{
  width: 100%;
  height: auto;
  padding-right: 30px;
}

.details_image img{
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.details_name{
  font-size: 35px;
  color: #2c2c2c;
  font-weight: 400;
  text-transform: capitalize;
}

.details_actual{
  text-decoration: line-through;
  font-size: 20px;
}

.details_discount{
  margin-left: 10px;
  font-size: 20px;
}

.details_prices{
  margin: 10px 0;
}

.inc, .dec, .quantity{
  width: 60px;
  height: 60px;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity{
  border-left: none;
  border-right: none;
}

.inc, .dec{
  cursor: pointer;
}

.inc:hover, .dec:hover, .quantity:hover{
  background-color: lightgrey;
  opacity: .5;
  transition: all .3s ease-in-out;
}

.details_in_dec{
  display: flex;
}

.btn_cart{
  margin-left: 10px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--main);
  font-size: 18px;
  cursor: pointer;
}

.btn_cart:hover{
  opacity: .8;
  transition: .3s;
}

.details_p{
  margin-top: 15px;
}

.details h4{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}
/* details component styles end=========*/

/* cart component styles start========== */
.verticalAllign{
  align-items: center;
}

.cart{
  margin-top: 100px;
}

.cart h3{
  font-weight: 400;
}

.col_2{
  width: 13.3333333333333%;
}

.col_9{
  width: 100%;
}

.cart_heading{
  background: #f4f6f8;
  padding: 10px;
  /* width: 70% ========= */
}

.cart_image img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.text_center{
  text-align: center;
}

.cart_remove{
  cursor: pointer;
}
.summary{
  padding-left: 10px;
}
.summary_heading{
  background: #f4f6f8;
  padding: 5px;
}
.mb_10{
  margin-bottom: 10px;
}

.checkout{
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--white);
  color: var(--main);
  width: 100%;
  padding: 12px 5px;
  font-size: 17px;
  text-transform: uppercase;
}

.summary_details{
  background: var(--main);
  color: var(--white);
  margin-top: 20px;
  padding: 15px;
}
/* cart component styles end============ */

/* responsive styles start===============*/
@media(max-width: 765px){
  .container{
    width: 100%;
    padding: 0 30px;
  }

  .col_3{
    width: 50%;
  }

  .col_6{
    width: 100%;
  }

  .col_2{
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .col_9{
    width: 100%;
  }

  .cart_IncDec{
    display: flex;
    justify-content: center;
  }

  .cart h3{text-align: center;}

  .cart_heading{
    display: none;
  }

  .details_image{
    padding-right: 0;
  }
  .summary_col{
    width: 100% !important;
  }
}

@media(max-width: 500px){
  .col_3{
    width: 100%;
  }
  .col_2{
    width: 100%;
  }
}
/* responsive styles end=======*/
